@import 'mixins';
@import 'animations';

* {
    box-sizing: border-box;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3D3D3D;

    @include flex(column, space-between, center);

    min-height: 100vh;
    min-height: 100dvh;

    min-width: 100vw;
    min-width: 100dvw;
}

header, footer {
    min-width: 100vw;
    min-width: 100dvw;

    background-color: pink;

    & > ul{

        @media (orientation: landscape){
            @include flex(row, space-evenly, center);
        }

        @media (orientation: portrait){
            & > li{
             margin: 0.5rem 0rem;   
            }
        }

        list-style-type: none;

        & > a {
            underline: none;
            color: black;
        }

    }
    

    @include flex(row, space-between, center);
}

header {
    max-height: 10vh;
    max-height: 10dvh;
    height: 30rem;
}

footer {

    text-align: center;

    & > ul{
        text-align: left;
    }

    @media (orientation: landscape) {
        max-height: 10vh;
        max-height: 10dvh;

        height: 30rem;
    }

    @media (orientation: portrait) {
        height: fit-content;
    }
}

main {
    min-width: 100vw;
    min-width: 100dvw;

    min-height: 90vh;
    min-height: 90dvh;

    @include flex(row, center, center);
}

.register, .login{
    overflow-y: auto;
    overflow-x: hidden;

    @media (orientation: landscape) {
        max-width: 45vw;
        max-width: 45dvw;
    
        min-height: 50%;
        max-height: 90%;
    
        width: 50rem;

        @include flex(column, space-evenly, center);
    }

    @media (orientation: portrait) {
        max-width: 80vw;
        max-width: 80dvw;

        width: 40rem;
    
        height: 40%;

        @include flex(column, center, center);
    }

    position: absolute;

    background-color: azure;

    & input[type='submit'] {
        @include button();
    }
}

.register {
    @media (orientation: landscape) {
        left: 50%;
    }
    @media (orientation: portrait) {
        bottom: 50%;
    }
}

.login{
    @media (orientation: landscape) {
        right: 50%;    
    }
    @media (orientation: portrait) {
        top: 50%;
    }
}

.signup-signin-banner {
    @include flex(row, space-evenly, center);

    @media (orientation: landscape) {
        max-width: 45vw;
        max-width: 45dvw;
    
        min-height: 50%;
        max-height: 90%;
    
        width: 50rem;
    }

    @media (orientation: portrait) {
        max-width: 80vw;
        max-width: 80dvw;

        width: 40rem;
    
        height: 40%;
    }

    padding: 0rem 1rem;
    
    position: absolute;

    background-color: brown;

    & button{
        @include button();
    }

    transition: all 0.3s ease-in-out;
}

.signup-banner-text, .signin-banner-text {
    @include flex(column, space-evenly, center);
    width: 100%;
}

.hidden{
    visibility: collapse;
}

.input-field{
    @include input-field();
}